/* fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway");
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/gilroy/gilroy-medium-webfont.woff2") format("woff2"),
    url("/fonts/gilroy/gilroy-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/gilroy/gilroy-bold-webfont.woff2") format("woff2"),
    url("/fonts/gilroy/gilroy-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/gilroy/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("/fonts/gilroy/gilroy-extrabold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/gilroy/gilroy-heavy-webfont.woff2") format("woff2"),
    url("/fonts/gilroy/gilroy-heavy-webfont.woff") format("woff");
}
