/* samllest default */
:root {
  /* image */
  --image-cover-width: 250px;
  --image-cover-height: 300px;
}

/* tablet & desktop */
@media screen and (min-width: 700px) {
  #about .aligner__item {
    /* switch to row for tablet & desktop */
    flex-direction: row;
  }

  #about {
    /* change image size */
    --image-cover-width: 295px;
    --image-cover-height: 345px;
    --caption-width: auto;
  }
}

.image-wrapper {
  box-shadow: 0 8px 6px -6px #000000;
  width: var(--image-cover-width);
  height: var(--image-cover-height);
  position: relative;
}

.image-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.image-cover__item {
  box-shadow: 0 8px 6px -6px #a8a8a8;
  transition-property: transform, opacity;
  transition-duration: 400ms;
}

#about h2 span {
  color: var(--highlight-color);
}
