:root {
  --caption-width: 90vw;
  --caption-item-margin: 0px;
}

.caption {
  padding-top: 0px;
  padding-left: 2px;
  max-width: calc(var(--caption-width) - var(--caption-item-margin));
}

.caption__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.caption__item h1,
.caption__item h2,
.caption__item h3,
.caption__item p {
  margin: 6px var(--caption-item-margin);
  text-align: left;
  opacity: 0;
  transform: translateY(60px);
  transition-property: transform, opacity;
  transition-duration: 400ms;
}

.caption.fadein .caption__item h1,
.caption.fadein .caption__item h2,
.caption.fadein .caption__item h3,
.caption.fadein .caption__item p {
  transform: translateY(0);
  opacity: 1;
}

/* tablet & desktop */
@media screen and (min-width: 700px) {
  .caption__item {
    max-width: 500px;
  }
  .caption {
    padding-left: 20px;
    padding-right: 20px;
  }
}
