/* variables */
#contact {
  /* very small phones */
  --button-font-size: 12pt;
  --h2-font-size: 14pt;
}

@media screen and (min-width: 400px) {
  #contact {
    --button-font-size: 16pt;
    --h2-font-size: 18pt;
  }
}

#contact.aligner {
  margin-top: 50px;
}
