/* variables */
#copyright {
  /* very small phones */
  --button-font-size: 16px;
  --h2-font-size: 18px;
}

@media screen and (min-width: 400px) {
  #copyright {
    --button-font-size: 21px;
    --h2-font-size: 24px;
  }
}

#copyright.aligner {
  margin-top: 30px;
}
