/* samllest default */
#hero {
  --h1-font-size: 12pt;
  --h2-font-size: 14pt;
  --h3-font-size: 20pt;
  --p-font-size: 12pt;
  /* hero full screen height */
  --caption-height: 100vh;
}

/* phone */
@media screen and (min-width: 376px) {
  @media screen and (min-height: 400px) {
    #hero {
      --h2-font-size: 21pt;
      --h3-font-size: 31pt;
      --p-font-size: 18pt;
    }
  }
}

/* phablet */
@media screen and (min-width: 480px) {
  @media screen and (min-height: 400px) {
    #hero {
      --h2-font-size: 28pt;
      --h3-font-size: 38pt;
    }
  }
}

#hero .aligner__item {
  padding-top: 0px;
}

#hero h1 {
  font-size: var(--h1-font-size);
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}

#hero h2 {
  font-size: var(--h2-font-size);
}

#hero h3 {
  font-size: var(--h3-font-size);
  color: rgb(136, 146, 176);
}

#hero p {
  margin-top: 20px;
  font-size: var(--p-font-size);
}
