.navbar {
  font-size: 12px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 50px;
  transition: background-color;
  transition-duration: 500ms;
}

.open {
  height: 100vh;
  background-color: #000000;
  font-size: 20px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.navbar.open .main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.nav-links {
  text-decoration: none;
  color: #000000;
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  height: 21px;
  overflow: hidden;
  margin: 15px;
}

.nav-links ul li:nth-of-type(2) {
  color: #47a0f7;
}

.nav-links ul {
  transition-property: transform;
  transition-duration: 400ms;
  height: 100%;
}

.nav-links--on {
  transform: translateY(-21px);
}

.nav-links--off {
  transform: translateY(0px);
}

.navbar.open .nav-links {
  color: #ffffff;
}

.main-nav li {
  height: 100%;
  text-align: center;
  margin: 0px 0px;
}

.social {
  display: flex;
}

.social a {
  margin: 10px;
  font-size: 18px;
  color: #000000;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgb(141, 211, 199);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
    height: 50px;
    font-size: 12px;
  }

  .navbar.open {
    background-color: #ffffff;
  }

  .main-nav,
  .navbar.open .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .navbar.open .nav-links {
    color: #000000;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    color: #000000;
  }
}
