:root {
  /* small screen */
  --nav-height: 50px;
  --nav-bg-color: white;
  --nav-open-bg-color: black;
  /* items */
  --nav-item-color: black;
  --nav-item-font-size: 12px;
  --nav-item-open-color: white;
  --nav-item-open-font-size: 20px;
  --nav-item-hover-color: #47a0f7;
  /* socials */
  --nav-social-color: black;
  --nav-social-open-color: white;
  --nav-social-hover-color: #47a0f7;
  --nav-social-font-size: 18px;
  /* toggle */
  --nav-toggle-color: rgb(141, 211, 199);
  --nav-toggle-hover-color: #47a0f7;
  --nav-toggle-font-size: 24px;
  /* font */
  --nav-item-font-family: "Gilroy", sans-serif;
}

.navbar {
  background-color: var(--nav-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: var(--nav-height);
  transition: background-color;
  transition-duration: 500ms;
}

.open {
  height: 100vh;
  background-color: var(--nav-open-bg-color);
}

.main-nav {
  list-style-type: none;
  display: none;
}

.navbar.open .main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.nav-links {
  text-decoration: none;
  color: var(--nav-item-open-color);
  font-family: var(--nav-item-font-family);
  font-size: var(--nav-item-open-font-size);
  font-weight: 900;
  /* 21px important magic number to be able for the item translation animation  */
  height: 21px;
  overflow: hidden;
  margin: 15px;
}

.nav-links ul {
  transition-property: transform;
  transition-duration: 400ms;
  height: 100%;
}

.nav-links ul li:nth-of-type(2) {
  color: var(--nav-item-hover-color);
}

.nav-links--on {
  transform: translateY(-21px);
}

.nav-links--off {
  transform: translateY(0px);
}

.main-nav li {
  height: 100%;
  text-align: center;
  margin: 0px 0px;
}

/* social */
.social {
  display: flex;
}

.social a {
  margin: 10px;
  font-size: var(--nav-social-font-size);
  color: var(--nav-social-color);
}

.navbar.open .social a {
  color: var(--nav-social-open-color);
}

.social a:hover,
.navbar.open .social a:hover {
  color: var(--nav-social-hover-color);
}

/* toggle button */
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--nav-toggle-color);
  font-size: var(--nav-toggle-font-size);
}

.navbar-toggle:hover {
  color: var(--nav-toggle-hover-color);
}

/* desktop */
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
    height: var(--nav-height);
  }

  .navbar.open {
    background-color: var(--nav-bg-color);
  }

  .navbar.open .social a {
    color: var(--nav-social-color);
  }

  .main-nav,
  .navbar.open .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
    color: var(--nav-item-color);
    font-size: var(--nav-item-font-size);
  }

  .navbar-toggle {
    display: none;
  }
}
