@media screen and (min-width: 700px) {
  #skills .caption__item {
    max-width: 550px;
  }
}

.skills--grid {
  display: flex;
  flex-wrap: wrap;
}

.skill,
.project {
  margin: 2px;
  padding: 0.3em 1em;
  border: 2px solid;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.7em;
  color: var(--highlight-color);
  box-shadow: 0 8px 6px -6px #cccccc;
  transition-property: opacity;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  opacity: 0;
}

.project {
  color: black;
}

.project:hover {
  color: var(--highlight-color);
}

.caption.fadein .skill,
.caption.fadein .project {
  opacity: 1;
}

#skills .caption__item h2 {
  transform: translateY(0);
}

#skills h2:nth-of-type(2) span {
  color: var(--highlight-color);
}

#skills.aligner {
  margin-top: 50px;
}
