@media screen and (min-width: 700px) {
  #skills .caption__item {
    max-width: 600px;
  }
}

.skills--grid {
  display: flex;
  flex-wrap: wrap;
}

#skills li {
  margin: 2px;
  padding: 0.3em 1em;
  border: 2px solid;
  border-radius: 3px;
  font-size: 11pt;
  font-weight: 500;
  line-height: 1.7em;
  color: var(--highlight-color);
  box-shadow: 0 8px 6px -6px #cccccc;
}

#skills.aligner {
  margin-top: 50px;
}
