/* tablet & desktop */
@media screen and (min-width: 700px) {
  #work .caption__item {
    max-width: 700px;
  }
}

.job-items {
  display: flex;
  flex-wrap: wrap;
}

.job-item {
  margin: 2px;
  padding: 0.3em 1em;
  border-bottom: 2px solid;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.7em;
  color: rgb(209, 212, 219);
  box-shadow: 0 8px 6px -6px #cccccc;
  transition-property: opacity;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  opacity: 0;
  cursor: pointer;
}

.tasks {
  margin: 20px;
}

.task::before {
  content: "▹ ";
  color: var(--highlight-color);
}

.caption.fadein .job-item {
  opacity: 1;
}

.job-item.fadein {
  color: var(--highlight-color);
}

.job-detail {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

.job-detail.fadein {
  opacity: 1;
}

#work.aligner {
  margin-top: 50px;
}
